* {
    font-family: "Segoe UI", sans-serif !important;
}

main {
    background-color: #08203299;
}

.content {
    padding-top: 218px;
}

.content-body {
    background-color: #2E497F;
    padding-bottom: 80px;
}

.page-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.page-title h2 {
    font-size: 44px;
    line-height: 54px;
    color: #fff;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.content-description-box {
    position: relative;
    background-color: #fff;
    padding: 102px 10px 106px;
    text-align: left;
}

.content-description-box-number {
    position: absolute;
    top: 4px;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 0;
    color: #2E497F;
    opacity: 0.2;
}

.content-description-box-wrapper.right .content-description-box-number {
    right: 0;
    padding: 20px;
}

.content-description-box-wrapper.left .content-description-box-number {
    padding: 20px;
    left: 0;
}

.content-description-box h3 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #2E497F;
    margin-bottom: 20px;
}

.content-description-box p {
    font-size: 16px;
    line-height: 26px;
    color: #082032;
    margin-bottom: 30px;
}

.content-description-box ul {
    list-style: inside;
}

.content-description-box li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #082032;
    margin-bottom: 15px;
}

.content-description-box li:last-child {
    margin-bottom: 0;
}

.content-description-box-image {
    position: relative;
    width: 310px;
    height: 200px;
    margin-top: -40px;
    padding-left: 10px;
}

.content-description-box-image img {
    object-fit: cover;
}

.content-partnership {
    background-color: #fff;
    padding: 50px 0 52px;
}

.content-partnership-body {
    display: flex;
    flex-direction: column;
}

.content-partnership-text h3 {
    font-size: 34px;
    line-height: 44px;
    color: #394D88;
    margin-bottom: 20px;
}

.content-partnership-text p {
    font-size: 16px;
    line-height: 28px;
    color: #082032;
    margin-bottom: 30px;
}

.content-partnership-link {
    font-size: 16px;
    line-height: 34px;
    color: #394D88;
    letter-spacing: 2px;
    display: inline-block;
}

.content-partnership-link a {
    display: flex;
    align-items: center;
}

.content-partnership-link img {
    margin-left: 6px;
    width: 14px;
    height: 14px;
}

.content-partnership-link hr {
    background-color: #394D88;
    width: 30%;
    height: 1px;
}

.content-partnership-slider {
    margin-top: 20px;
    width: 100%;
    height: 140px;
}

.content-partnership-slider-item {
    height: 140px;
}

.content-partnership-slider-item img {
    object-fit: cover;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
    text-align: right;
}

@media (min-width: 1024px) {
    .content {
        padding-top: 200px;
    }

    .page-title h2 {
        font-size: 62px;
        line-height: 74px;
    }

    .content-description-box {
        padding: 98px 60px;
        flex: 1;
    }

    .content-description-box-number {
        font-size: 64px;
    }

    .content-description-box-title {
        font-size: 24px;
        line-height: 36px;
    }

    .content-description-box-image {
        width: 560px;
        height: 500px;
        margin-top: 0;
        padding-left: 0;
    }

    .content-description-box-wrapper.left .content-description-box-image {
        margin-left: -40px;
    }

    .content-description-box-wrapper.right .content-description-box-image {
        margin-right: -40px;
    }

    .content-body {
        padding-bottom: 90px;
    }

    .content-description-box-wrapper {
        display: flex;
        align-items: center;
    }

    .content-description-box-wrapper.right {
        flex-direction: row-reverse;
    }

    .content-partnership {
        background-color: #fff;
        padding: 140px 0 142px;
    }

    .content-partnership-body {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content-partnership-text {
        margin-right: 40px;
        flex: 1;
    }

    .content-partnership-slider-container {
        width: 600px;
    }

    .content-partnership-slider {
        margin-top: 0;
        height: 210px;
    }

    .content-partnership-slider-item {
        height: 210px;
    }
}