.container {
    width: 100%;
    padding: 0 16px;
}

.mb-40 {
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .container {
        padding: 0 80px;
    }

    .no-desktop {
        display: none!important;
    }
}

@media (max-width: 1023.95px) {
    .no-mobile {
        display: none!important;
    }
}